# -*- coding: utf-8 -*-
#
# This file is part of Flask-Menu
# Copyright (C) 2013, 2014, 2015, 2016 CERN.
#
# Flask-Menu is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

include LICENSE AUTHORS.rst CHANGES.rst Dockerfile *.rst *.yml .editorconfig
include .coveragerc .dockerignore .gitmodules run-tests.sh pytest.ini tox.ini
include .lgtm MAINTAINERS
include docs/*.rst docs/*.py docs/Makefile docs/requirements.txt
recursive-include docs/_templates *.html
recursive-include docs/_themes LICENSE README
recursive-include docs/_themes *.conf
recursive-include docs/_themes *.css_t
recursive-include docs/_themes *.html
recursive-include docs/_themes *.py
recursive-include examples *.py
recursive-include tests *.py
recursive-include .github/workflows *.yml
include .git-blame-ignore-revs
